.window {
  background-color: #272822;
  border: #3e3d32;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.65),
    0 2px 0 rgba(255, 255, 255, 0.04);
  /* resize: both; */
  height: 50vh;
  width: 100%;
  height: 120vh;
  /* padding: 1rem; */
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}



.close {
  background-color: #ff5f56;

}

.minimize {
  background-color: #ffbd2e;
}

.maximize {
  background-color: #27c93f;
}

.window-btns button {
  border: none;
  width: 1px !important;
  height: 1px !important;
  border-radius: 100%;
}

.top-bar {
  cursor: grab;
}

.title-panel {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.267);
  padding-right: 1rem;
}

.window-btns {
  justify-self: flex-start;
}

.content-panel {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: red; */
}