@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* @layer components{
    .common{
        @apply 
    }
} */
 .vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
    padding: 7rem;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: #242424; */
background-color: #242424;
}
main{
    background-color: #242424;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headerMain{

    /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); */
}

.projects {
    background-color: #242424;
}
.toggleBtnContainer,.card-container{
    background-color: #242424;
}
.about-me{
    color:#343a40;
    background-color:white ;
    /* clip-path: polygon(0 0, 91% 20%, 100% 100%, 0 100%); */
   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
   height: 70vh;
}
#cardImg{
    width: 60%;
    aspect-ratio: 3/2 !important;
    object-fit: contain;

}

